/* Importa la fuente */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

:root {
    --main-bg-color: #f9f5f0; /* Beige/Cream */
    --main-color: #333;
    --header-bg-color: #8B5E3C; /* Marrón */
    --descripcion-bg-color: #e2dbc4; /* Beige */
    --link-bg-color: #5a8b79; /* Verde Olivo */
    --link-hover-bg-color: #446f60; /* Verde más oscuro */
    --card-bg-color: #fff;
    --card-hover-bg-color: #f1e7c4; /* Dorado Claro */
    --border-color: #ccc;
    --table-header-bg-color: #e8e4da; /* Gris Claro */
}



/* Estilos básicos para personalización */
body {
    font-family: 'Libre Baskerville', serif; /* Fuente clásica */
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

header {
    background-color: var(--link-bg-color);
    color: white;
}

header img {
    width: 100%;
    height: auto;
}


.container-botones .btn {
    margin: 5px;
    background-color: var(--link-bg-color);
    color: white;
}

.btn {
    width: 300px;
}

.btn:hover{
    background-color: var(--link-hover-bg-color);
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
    overflow: hidden;
}

.card a{
    text-decoration: none;
    color: inherit;
}


.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card p {
    font-size: 1em;
    margin: 0;
    text-align: justify;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-10px);
    background-color: var(--card-hover-bg-color);
}







table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

table thead {
    background-color: var(--table-header-bg-color);
}


footer {
    background-color: var(--link-bg-color);
    color: white;
}
