/* Importa la fuente */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

:root {
    --main-bg-color: #f9f5f0; /* Beige/Cream */
    --main-color: #333;
    --header-bg-color: #8B5E3C; /* Marrón */
    --descripcion-bg-color: #e2dbc4; /* Beige */
    --link-bg-color: #5a8b79; /* Verde Olivo */
    --link-hover-bg-color: #446f60; /* Verde más oscuro */
    --card-bg-color: #fff;
    --card-hover-bg-color: #f1e7c4; /* Dorado Claro */
    --border-color: #ccc;
    --table-header-bg-color: #e8e4da; /* Gris Claro */
}

body {
    font-family: 'Libre Baskerville', serif; /* Fuente clásica */
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: var(--link-bg-color);
    text-align: center;
}

header img {
    margin: 0;
    width: 100%;
    height: 750px;
}

main {
    padding: 20px;
}

.descripcion {
    text-align: justify;
}

.descripcion-parrafo {
    color: var(--main-color);
    background-color: var(--descripcion-bg-color);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    /*text-shadow: 2px 2px 5px rgba(0,0,0,0.3);*/
    line-height: 2.0;
    padding: 20px 40px;
}

.container-botones {
    text-align: center;
    margin: 20px 0;
}

.container-botones h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.container-botones a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--link-bg-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.container-botones a:hover {
   background-color: var(--link-hover-bg-color);
   transform: scale(1.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(50% - 20px);
    transition: transform 0.3s, background-color 0.3s;
    overflow: hidden;
}

.card a{
    text-decoration: none;
    color: inherit;
}


.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card p {
    font-size: 1em;
    margin: 0;
    text-align: justify;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-10px);
    background-color: var(--card-hover-bg-color);
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

table thead {
    background-color: var(--table-header-bg-color);
}

.actividades {
    margin: 70px 0;
}

.actividades h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.actividades ul {
    list-style-type: disc;
    padding-left: 20px;
}

.actividades ul li {
    margin: 15px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--link-bg-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

