body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section p, section h2, section h3 {
    margin: 10px 0;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #4682b4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #5a9bd5;
}

.card-container {
    text-align: center;
}

.card {
    display: inline-block;
    width: 22%;
    background: #fff;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    vertical-align: top;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 1em;
}

.card-content h3 {
    margin-top: 0;
}

.card-content p {
    color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
